
  .animate__animated.animate__fadeIn{
    --animate-duration: 2.3s;
  }

  .animate__animated.animate__flipInX{
    --animate-duration: 500ms;
  }

  .animate__animated.animate__fadeInt{
    --animate-duration: 1.5ms;
  }


@font-face{
    font-family: Roboto;
    src: url("/fonts/Roboto.ttf");
}

@font-face{
font-family: RobotoRegular;
src: url("/fonts/Roboto-Regular.ttf");
}

@font-face{
    font-family: RobotoBold;
    src: url("/fonts/Roboto-Bold.ttf");
}

@font-face{
    font-family: Fredoka;
    src: url("/fonts/Fredoka.ttf");
}

